/* body */
body {
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0px;
    background-image: url('../img/bg_land.jpg');
    background-size: cover;
}
