
<body>
    <!-- container -->
    <div class="container">
        <!--left-sidebar => style-left-sidebar.css -->
        <div class="left-sidebar">
            <h2></h2>
            <!-- isi form sesuai kebutuhan -->
            <!-- Logo -->
            <div class="col-12">
                <div class="logo bmh-80 text-center"><img src="img/logo.png" alt="Desa Digital"
                        style="border-radius: 5px; width:50%; max-width: 240px; height:auto;" /></div>
            </div>
            <nav class="nav">
                <!-- main-menu -->
                <div class="main-menu">
                    <a href="#">Beranda</a>
                </div>
                <div class="main-menu">
                    <a href="#">Profil</a>
                </div>
                <div class="main-menu">
                    <a href="#">Pengaturan</a>
                </div>
                <!-- tombol login -->
                <button type="submit" href="login.php" class="popup-login"> Login </button>
            </nav>
        </div>
